body {
    margin: 0;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/forLogo.ttf);
}

@font-face {
    font-family: "Russo One";
    src: url(../fonts/russoOne.ttf);
}

.wrap {
    width: 100%;
    height: 2400px;
    background: url(../images/BGWrap.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    width: 590px;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 50px 0;
}

.menuMob {
    width: 100%;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: none;
}

.menu li {
    float: left;
    display: block;
    margin-right: 20px;
    font: 1em "Russo One", sans-serif;
    height: 84px;
    line-height: 84px;
    color: white;
}

.menuMob li {
    margin-right: 0;
    font: 1em "Russo One", sans-serif;
    height: 35px;
    line-height: 5px;
    color: white;
    text-align: center;
}

.linkToGal {
    font: 1em "Russo One", sans-serif;
    color: white;
    text-align: center;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover, a:active {
    color: #263555;
}

.menuMob li a:hover, a:active {
    color: #263555;
}

div.linkToGal a:hover, a:active {
    color: #263555;
}

.menu a:link, a:visited {
    text-decoration: none;
    color: white;
}

.menuMob a:link, a:visited {
    text-decoration: none;
    color: white;
}

.linkToGal a:link, a:visited {
    text-decoration: none;
    color: white;
}

ul > li.logo {
    position: relative;
    top: 16px;
    width: 167px;
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 40px 0 20px;
    cursor: pointer;
}

.menuMob li.logo {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 auto 35px auto;
    cursor: pointer;
}

.menu a {
    vertical-align: middle;
}

.menu img {
    position: absolute;
    top: -80%;
    left: -20%;
}

.centralBody {
    background-color: #ffffff;
    position: relative;
    top: 130px;
    margin: 0 auto;
    width: 94%;
    max-height: 81%;
    z-index: 4;
    font: 1em Arial, sans-serif;
    line-height: 30px;
}

.info h1 {
    font: 1.5em "Russo One", sans-serif;
    color: #263555;
    text-align: center;
    padding-top: 16px;
    margin-top: 0;
    border-bottom: 1px solid #263555;
}

.info h2 {
    font: 1em "Russo One", sans-serif;
    color: #263555;
}

.info h2,
.info p {
    margin-top: 30px;
    text-align: center;

}

.info h2:last-child {
    border-top: 1px solid #263555;
    border-bottom: 1px solid #263555;
    padding: 16px 0 16px 0;
    margin-bottom: 132px;
}

.info [src="image/map.jpg"] {
    border: 2px solid #263555;
}

.forImg {
    width: 370px;
    height: 370px;
    margin: 0 auto;
    overflow: hidden;
}

.formAlign {
    text-align: left;
}

a:link {
    color: #263555
}

a:hover {
    color: #ADD8E6;
}

.mainFields {
    width: 626px;
    font: 1em Arial, sans-serif;
    color: #263555;
    margin: 0 auto;
}

.mainFields [type=text] {
    width: 451px;
    border: 1px solid #ADD8E6;
}

.messageField {
    width: 626px;
    margin: 0 auto;
}

.messageField td:last-child {
    text-align: center;
}

.messageField td:first-child {
    width: 96px;
    vertical-align: top;
    font: 1em Arial, sans-serif;
    color: #263555;
}

textarea {
    width: 95%;
    height: 310px;
    border: 1px solid #ADD8E6;
    font: 1em Arial, sans-serif;
}

[type=submit], [type=reset] {
    border: 1px solid #ADD8E6;
    border-radius: 5px;
    font: 1em Arial, sans-serif;
    color: #263555;
    cursor: pointer;
}

.goUpBut {
    width: 36px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 95%;
}

.footerLine {
    width: 100%;
    height: 50px;
    background-color: #30455b;
    position: relative;
    margin-top: 157px;
}

.copy {
    font: 11px Arial, Helvetica, sans-serif;
    color: whitesmoke;
    opacity: .9;
    text-shadow: 2px 2px 3px black;
    margin-top: 5px;
    margin-left: 5px;
}

.footCell{
    height: 3px;
}

.socWeb {
    list-style: none;
    width: 150px;
    padding-left: 0;
    height: 27px;
    margin: 0 auto;
}

.socWeb li {
    float: left;
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 3px;
    background: url(../images/socWebSprite.png) no-repeat;
    cursor: pointer;
}

.socWeb li:nth-child(2) {
    background-position: -29px 0;
}

.socWeb li:nth-child(3) {
    background-position: -58px -0px;
}

.socWeb li:nth-child(4) {
    background-position: -87px -0px;
}

.socWeb li:nth-child(5) {
    background-position: -116px -0px;
}

.socWeb li:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 800px) {
    .goUpBut {
        top: 90%;
        left: 5%;
    }
}

@media only screen and (max-width: 640px) {

    .menu {
        display: none;
    }

    .linkToGal {
        display: none;
    }

    .menuMob {
        display: block;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-width: 700px) {

    .mainFields {
        width: 100%;
        text-align: left;
    }

    .mainFields td:first-child{
        width: 154px;
    }

    textarea {
        width: 100%;
    }

    .messageField {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        width: 98%;
        text-align: left;
    }

    .mainFields [type=text] {
        width: 98%;
    }

}


@media only screen and (max-width: 510px) {

    .copy {
        text-align: center;
        margin-left: 0;
    }
}

@media only screen and (max-width: 430px) {
    .forImg{
        width: 260px;
        height: 260px;
    }
}

@media only screen and (max-width: 418px) {

    .forImg img {
        width: 250px;
        height: 250px;
    }

}

@media only screen and (min-width: 1370px) {

    .centralBody {
        width: 1269px;
    }

    .wrap {
        margin: 0 auto;
    }

}

@media only screen and (min-width: 1500px) {

    .wrap {
        height: 2520px;
    }

}

@media only screen and (min-width: 2630px) {

    .menu{
        display: none;

    }

    .menuMob{
        display: block;
    }

    .linkToGal {
        display: none;
    }

}

@media only screen and (min-width: 2750px) {
    .wrap {
        height: 3100px;
    }

}

@media only screen and (min-width: 6500px) {

    .wrap {
        height: 3250px;
    }

}