body {
    margin: 0;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/forLogo.ttf);
}

@font-face {
    font-family: "Russo One";
    src: url(../fonts/russoOne.ttf);
}

.wrap {
    width: 100%;
    height: 2350px;
    background: url(../images/BGWrap.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    width: 590px;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 50px 0;
}

.menuMob {
    width: 100%;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: none;
}

.menu li {
    float: left;
    display: block;
    margin-right: 20px;
    font: 1em "Russo One", sans-serif;
    height: 84px;
    line-height: 84px;
    color: white;
}

.menuMob li {
    margin-right: 0;
    font: 1em "Russo One", sans-serif;
    height: 35px;
    line-height: 5px;
    color: white;
    text-align: center;
}

.linkToGal {
    font: 1em "Russo One", sans-serif;
    color: white;
    text-align: center;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover, a:active {
    color: #263555;
}

.menuMob li a:hover, a:active {
    color: #263555;
}

div.linkToGal a:hover, a:active {
    color: #263555;
}

.menu a:link, a:visited {
    text-decoration: none;
    color: white;
}

.linkToGal a:link, a:visited {
    text-decoration: none;
    color: white;
}

.menuMob a:link, a:visited {
    text-decoration: none;
    color: white;
}

ul > li.logo {
    position: relative;
    top: 16px;
    width: 167px;
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 40px 0 20px;
    cursor: pointer;
}

.menuMob li.logo {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 auto 35px auto;
    cursor: pointer;
}

.menu a {
    vertical-align: middle;
}

.menu img {
    position: absolute;
    top: -80%;
    left: -20%;
}

.gallery2 {
    margin: 0 auto;
    width: 75%;
    position: relative;
    top: 13em;
    left: 3%;

}

.gallery2 a {
    display: inline-block;
    height: 135px;
    position: relative;
    width: 180px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.gallery2 a img {
    border: 8px solid #fff;
    border-bottom: 20px solid #fff;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;

    -moz-box-shadow: 2px 2px 4px #444;
    -webkit-box-shadow: 2px 2px 4px #444;
    -o-box-shadow: 2px 2px 4px #444;
    box-shadow: 2px 2px 4px #444;
}

.gallery2 a:nth-child(1) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.gallery2 a:nth-child(2) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.gallery2 a:nth-child(3) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.gallery2 a:nth-child(4) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.gallery2 a:nth-child(5) img {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.gallery2 a:nth-child(6) img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.gallery2 a:nth-child(7) img {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.gallery2 a:nth-child(8) img {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.gallery2 a:nth-child(9) img {
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.gallery2 a:nth-child(10) img {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.gallery2 a:nth-child(11) img {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.gallery2 a:nth-child(12) img {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.gallery2 a:nth-child(13) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.gallery2 a:nth-child(14) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.gallery2 a:nth-child(15) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.gallery2 a:nth-child(16) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.gallery2 a:nth-child(17) img {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.gallery2 a:nth-child(18) img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.gallery2 a:nth-child(19) img {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.gallery2 a:nth-child(20) img {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.gallery2 a:nth-child(21) img {
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.gallery2 a:nth-child(22) img {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.gallery2 a:nth-child(23) img {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.gallery2 a:nth-child(24) img {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.gallery2 a:nth-child(25) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.gallery2 a:nth-child(26) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.gallery2 a:nth-child(27) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.gallery2 a:nth-child(28) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.gallery2 a:nth-child(29) img {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.gallery2 a:nth-child(30) img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.gallery2 a:nth-child(31) img {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.gallery2 a:nth-child(32) img {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.gallery2 a:nth-child(33) img {
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.gallery2 a:nth-child(34) img {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.gallery2 a:nth-child(35) img {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.gallery2 a:nth-child(36) img {
    -moz-transform: rotate(-28deg);
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
}

.gallery2 a:nth-child(37) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.gallery2 a:nth-child(38) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.gallery2 a:nth-child(39) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.gallery2 a:nth-child(40) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.gallery2 a:nth-child(41) img {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.gallery2 a:nth-child(42) img {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.gallery2 a:nth-child(43) img {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.gallery2 a:nth-child(44) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.gallery2 a:nth-child(45) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.gallery2 a:nth-child(46) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.gallery2 a:nth-child(47) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.gallery2 a:nth-child(48) img {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.gallery2 a:nth-child(49) img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.gallery2 a:nth-child(50) img {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.gallery2 a:nth-child(51) img {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.gallery2 a:nth-child(52) img {
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.gallery2 a:nth-child(53) img {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.gallery2 a:nth-child(54) img {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.gallery2 a:nth-child(55) img {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.gallery2 a:nth-child(56) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.gallery2 a:nth-child(57) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.gallery2 a:nth-child(58) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.gallery2 a:nth-child(59) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.gallery2 a:nth-child(60) img {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.gallery2 a:focus img {
    cursor: default;
    height: 250%;
    left: -150px;
    top: -100px;
    position: absolute;
    width: 250%;
    z-index: 25;

    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;

    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.goUpBut {
    width: 36px;
    height: 37px;
    display: inline-block;
    position: static;
    margin-left: 70px;

}

.footerLine {
    max-width: 94%;
    height: 50px;
    background-color: #30455b;
    position: relative;
    margin: 293px auto 0 auto;
}

.copy {
    font: 11px Arial, Helvetica, sans-serif;
    color: whitesmoke;
    opacity: .9;
    text-shadow: 2px 2px 3px black;
    margin-top: 5px;
    margin-left: 5px;
}

.footCell{
    height: 3px;
}

.socWeb {
    list-style: none;
    width: 150px;
    padding-left: 0;
    height: 27px;
    margin: 0 auto;
}

.socWeb li {
    float: left;
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 3px;
    background: url(../images/socWebSprite.png) no-repeat;
    cursor: pointer;
}

.socWeb li:nth-child(2) {
    background-position: -29px 0;
}

.socWeb li:nth-child(3) {
    background-position: -58px -0px;
}

.socWeb li:nth-child(4) {
    background-position: -87px -0px;
}

.socWeb li:nth-child(5) {
    background-position: -116px -0px;
}

.socWeb li:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 1248px) {
    .wrap {
        background-image: none;
        background-color: cornflowerblue;
        height: 100%;
    }

    .gallery2 {
        top: 180px;
        left: 0;
        text-align: center;
    }

    .gallery2 a:nth-child(1),
    .gallery2 img {
        display: none;
    }

    .gallery2 a:nth-child(2),
    .gallery2 img {
        display: none;
    }

    .gallery2 a:nth-child(3),
    .gallery2 img {
        display: none;
    }

    .gallery2 a:nth-child(4),
    .gallery2 img {
        display: none;
    }

    .footerLine {
        margin-top: 130px;
        width: 100%;
    }

}

@media only screen and (max-width: 1050px) {

    .gallery2 a:focus img {
        height: 180%;
        left: -50px;
        top: -20px;
        width: 180%;
    }

}

@media only screen and (max-width: 841px) {

    .goUpBut{
        margin-left: 3px;
    }

}


@media only screen and (max-width: 680px) {

    .gallery2 a:focus img {
        height: 130%;
        left: -25px;
        top: -20px;
        width: 130%;
    }

}

@media only screen and (max-width: 640px) {

    .menu {
        display: none;
    }

    .linkToGal {
        display: none;
    }

    .menuMob {
        display: block;
    }

    h1 {
        display: none;
    }

}

@media only screen and (max-width: 510px) {

    .copy {
        text-align: center;
        margin-left: 0;
    }
}

@media only screen and (max-width: 405px) {

    .goUpBut {
        left: 5%;
    }

}

@media only screen and (min-width: 2630px) {

    .menu{
        display: none;

    }

    .menuMob{
        display: block;
    }

    .linkToGal {
        display: none;
    }

}

@media only screen and (min-width: 2750px) {
    .wrap {
        height: 3100px;
    }
}

@media only screen and (min-width: 6500px) {

    .wrap {
        height: 3250px;
    }

}