body {
    margin: 0;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/forLogo.ttf);
}

@font-face {
    font-family: "Russo One";
    src: url(../fonts/russoOne.ttf);
}

.wrap {
    width: 100%;
    height: 2512px;
    background: url(../images/BGWrap.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    width: 590px;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 50px 0;
}

.menuMob {
    width: 100%;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: none;
}

.menu li {
    float: left;
    display: block;
    margin-right: 20px;
    font: 1em "Russo One", sans-serif;
    height: 84px;
    line-height: 84px;
    color: white;
}

.menuMob li {
    margin-right: 0;
    font: 1em "Russo One", sans-serif;
    height: 35px;
    line-height: 5px;
    color: white;
    text-align: center;
}

.linkToGal {
    font: 1em "Russo One", sans-serif;
    color: white;
    text-align: center;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover, a:active {
    color: #263555;
}

.menuMob li a:hover, a:active {
    color: #263555;
}

div.linkToGal a:hover, a:active {
    color: #263555;
}

.menu a:link, a:visited {
    text-decoration: none;
    color: white;
}

.menuMob a:link, a:visited {
    text-decoration: none;
    color: white;
}

.linkToGal a:link, a:visited {
    text-decoration: none;
    color: white;
}

ul > li.logo {
    position: relative;
    top: 16px;
    width: 167px;
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 40px 0 20px;
}

.menuMob li.logo {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 auto 35px auto;
}

.menu a {
    vertical-align: middle;
}

.menu img {
    position: absolute;
    top: -80%;
    left: -20%;
}

.centralBody {
    background-color: #ffffff;
    position: relative;
    top: 130px;
    margin: 0 auto;
    width: 94%;
    height: 2074px;
}

.gallery {
    width: 88%;
    height: 725px;
    margin: 0 auto;
    padding-top: 75px;
}

.gallery img {
    max-width: 88%;
    height: auto;
}

.sloganFirsPart {
    width: 250px;
    height: 70px;
    background-color: white;
    position: absolute;
    top: 370px;
    font: 1.5em "Russo One", sans-serif;
    color: #263555;
    text-align: center;
}

.sloganFirsPart p {
    margin: 16px 0 16px 0;
}

.sloganSecondPart {
    width: 350px;
    height: 70px;
    background-color: #38afe5;
    position: absolute;
    top: 430px;
    font: 1.5em "Russo One", sans-serif;
    color: #ffffff;
    text-align: center;
}

.sloganSecondPart p {
    margin: 21px 0 21px 0;
}

.popDestNote {
    width: 22%;
    position: relative;
    top: 150px;
    left: 75px;
    font: 1.5em "Russo One", sans-serif;
    color: #263555;
    margin-right: 0;
}

.popDest > div {
    width: 28%;
    height: 183px;
    display: inline-block;
    position: relative;
    left: 75px;
    top: 300px;
    margin: 0 21px 0 0;
    float: left;
    background-color: #193149;
}

.infoBody {
    display: inline-block;
    position: relative;
    width: 183px;
    height: 337px;
    background-color: #193149;
    z-index: 1;
}

.infoBody h1 {
    text-align: center;
    font: 1.5em "Russo One", sans-serif;
    color: ghostwhite;
}

.infoBody p {
    font: 1em arial, sans-serif;
    margin: 16px 10px 16px 10px;
    color: ghostwhite;
    text-align: center;
}

.popDest img {
    position: absolute;
    left: 0;
    float: left;
    width: 100%;
}

.signup1 {
    position: absolute;
    top: 273px;
    left: 27px;
}

.signup1 a {
    padding: 10px 20px;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #72ce3f;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
    opacity: .9;
}

.signup1 a:hover {
    opacity: 1;
}

.signup1 a:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3) inset;
}

.signup1 a {
    background: #38afe5;
}

.airEarthWater {
    width: 100%;
    height: 330px;
    position: absolute;
    top: 1550px;
    margin-right: 0;
}

.airEarthWater > div {
    width: 1087px;
    height: 300px;
    margin: 0 auto;
}

.airEarthWater ul {
    list-style: none;
}

.airEarthWater li {
    float: left;
    width: 300px;
    height: 300px;
    position: relative;
    left: 43px;
}

.airEarthWater li:hover {
    cursor: pointer;
}

.airEarthWater li:first-child {
    background-image: url(../images/sortOfTrip/air.png);
    margin-right: 10px;
}

.airEarthWater li:first-child:hover {
    background-image: url(../images/sortOfTrip/airHover.png);
}

.airEarthWater li:nth-child(2) {
    background-image: url(../images/sortOfTrip/earth.png);
    margin-right: 10px;
}

.airEarthWater li:nth-child(2):hover {
    background-image: url(../images/sortOfTrip/earthHover.png);
}

.airEarthWater li:last-child {
    background-image: url("../images/sortOfTrip/water.png");
}

.airEarthWater li:last-child:hover {
    background-image: url("../images/sortOfTrip/waterHover.png");
}

.pricing-table {
    position: absolute;
    left: 950px;
    top: 23px;
    text-align: center;
    width: 232px;
    zoom: 1;
}

.pricing-table:before, .pricing-table:after {
    content: "";
    display: table
}

.pricing-table:after {
    clear: both;
}

.pricing-table .plan {
    font: 13px "Lucida Sans", "trebuchet MS", Arial, Helvetica;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 180px;
    float: left;
    _display: inline;
    position: relative;
    margin: 0 5px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .3);
}

.pricing-table .plan:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    right: 4px;
    width: 80%;
    top: 80%;
    box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
    transform: rotate(3deg);
}

.pricing-table .header {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background: url(../images/flags/italy.png) repeat-y;
    color: #263555;
}

.pricing-table .header2 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background: url(../images/flags/USA.png) repeat-y;
    color: #263555;
}

.pricing-table .header3 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background: url(../images/flags/france.png) repeat-y;
    color: #263555;
}

.pricing-table .header4 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background: url(../images/flags/spain.png) repeat-y;
    color: #263555;
}

.pricing-table .header:after {
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    width: 100%;
    content: '';
}

.pricing-table .checkout .header {
    border-bottom-color: #263555;
}

.pricing-table .price {
    font-size: 45px;
}

.pricing-table .term {
    font-size: 13px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #999;
}

.pricing-table ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.pricing-table li {
    padding: 10px 0;
}

.pricing-table .signup {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #72ce3f;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
    opacity: .9;
}

.pricing-table .signup:hover {
    opacity: 1;
}

.pricing-table .signup:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3) inset;
}

.pricing-table .checkout .signup {
    background: #263555;
}

.ghostWidth {
    width: 100%;
    height: 480px;
    background-color: grey;
    display: none;
    border-radius: 0 5px 0 0;
}

.ghostWidth button:hover {
    cursor: pointer;
    color: black;
}

div.pricing-table {
    width: 233px;
    position: static;
    margin: 680px auto 0 auto;
}

div.pricing-table .header2 {
    width: 140px;
    margin: -20px -20px 10px -20px;
    padding-top: 20px;

}

div.pricing-table .header2 span {
    display: inline-block;
    width: 100px;
    padding: 5px 0 3px 0;
    color: ghostwhite;
    text-shadow: 3px 3px 4px black;
    background-color: #263555;
    font-size: 16px;
    box-shadow: 3px 3px 4px black;
    border-radius: 4px;
}

.pricing-table button {
    width: 25px;
    height: 20px;
    position: absolute;
    right: 0;
    background-color: firebrick;
    border: none;
    font-family: Arial, serif;
    font-size: 16px;
    color: ghostwhite;
    text-shadow: 3px 3px 4px black;
    border-radius: 0 5px 0 5px;
}

div.plan.checkout {
    width: 180px;
    height: 433px;
}

.goUpBut {
    width: 36px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 95%;
    z-index: 5;
}

.footerLine {
    width: 100%;
    height: 50px;
    background-color: #30455b;
    position: absolute;
    top: 2032px;
}

.copy {
    font: 11px Arial, Helvetica, sans-serif;
    color: whitesmoke;
    opacity: .9;
    text-shadow: 2px 2px 3px black;
    margin-top: 5px;
    margin-left: 5px;
}

.footCell{
    height: 3px;
}

.socWeb {
    list-style: none;
    width: 150px;
    padding-left: 0;
    height: 27px;
    margin: 0 auto;
}

.socWeb li {
    float: left;
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 3px;
    background: url(../images/socWebSprite.png) no-repeat;
    cursor: pointer;
}

.socWeb li:nth-child(2) {
    background-position: -29px 0;
}

.socWeb li:nth-child(3) {
    background-position: -58px -0px;
}

.socWeb li:nth-child(4) {
    background-position: -87px -0px;
}

.socWeb li:nth-child(5) {
    background-position: -116px -0px;
}

.socWeb li:hover {
    opacity: 0.5;
}


@media only screen and (max-width: 1270px) {

    .pricing-table {
        position: static;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 1086px) {
    .airEarthWater > div {
        width: 400px;
    }

    .airEarthWater li {
        left: 0;
    }

    .airEarthWater li:first-child {
        width: 100px;
        height: 100px;
        background-image: url(../images/sortOfTrip/airSmall.png);
        margin-right: 10px;
    }

    .airEarthWater li:first-child:hover {
        width: 100px;
        height: 100px;
        background-image: url(../images/sortOfTrip/airHoverSmall.png);
        margin-right: 10px;
    }

    .airEarthWater li:nth-child(2) {
        width: 100px;
        height: 100px;
        background-image: url(../images/sortOfTrip/earthSmall.png);
        margin-right: 10px;
    }

    .airEarthWater li:nth-child(2):hover {
        width: 100px;
        height: 100px;
        background-image: url(../images/sortOfTrip/earthHoverSmall.png);
        margin-right: 10px;
    }

    .airEarthWater li:last-child {
        width: 100px;
        height: 100px;
        background-image: url(../images/sortOfTrip/waterSmall.png);
    }

    .airEarthWater li:last-child:hover {
        width: 100px;
        height: 100px;
        background-image: url(../images/sortOfTrip/waterHoverSmall.png);
    }

}

@media only screen and (max-width: 810px) {

    .popDest img {
        display: none;
    }

    .popDest > div {
        width: 183px;
    }

    .popDest > div:last-child {
        display: none;
    }

    .goUpBut {
        left: 5%;
    }

    .sloganFirsPart {
        top: 500px;
        left: 75px;
        text-align: left;
    }

    .sloganSecondPart {
        top: 710px;
        left: 75px;
    }

}

@media only screen and (max-width: 730px) {

    .popDest img {
        display: none;
    }
}

@media only screen and (max-width: 640px) {

    .popDest > div:nth-child(2) {
        display: none;
    }

    .popDest > div:first-child {
        left: 2%;
        width: 96%;
    }

    div.infoBody {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .linkToGal {
        display: none;
    }

    .menuMob {
        display: block;
    }

    .signup1 {
        position: relative;
        top: 100px;
        left: 0;
        text-align: center;
    }

}

@media only screen and (max-width: 510px) {

    .copy {
       text-align: center;
       margin-left: 0;
    }
}

@media only screen and (max-width: 475px) {

    div.sloganSecondPart {
        width: 250px;
    }
}

@media only screen and (max-width: 442px) {

    .airEarthWater > div {
        width: 200px;
    }
}

@media only screen and (max-width: 365px) {

    .sloganFirsPart {
        left: 15px;
    }

    .sloganSecondPart {
        left: 5px;
    }
}

@media only screen and (min-width: 1370px) {

    .centralBody {
        width: 1269px;
    }
}

@media only screen and (min-width: 2630px) {

    .menu{
        display: none;

    }

    .menuMob{
        display: block;
    }

    .linkToGal {
        display: none;
    }


}


@media only screen and (min-width: 5000px) {

    .wrap{
        height: 2670px;
    }

}

@media only screen and (min-width: 6500px) {

    .wrap{
        height: 3230px;
    }
}
