body {
    margin: 0;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/forLogo.ttf);
}

@font-face {
    font-family: "Russo One";
    src: url(../fonts/russoOne.ttf);
}

.wrap {
    width: 100%;
    height: 2515px;
    background: url(../images/BGWrap.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    width: 590px;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 50px 0;
}

.menuMob {
    width: 100%;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: none;
}

.menu li {
    float: left;
    display: block;
    margin-right: 20px;
    font: 1em "Russo One", sans-serif;
    height: 84px;
    line-height: 84px;
    color: white;
}

.menuMob li {
    margin-right: 0;
    font: 1em "Russo One", sans-serif;
    height: 35px;
    line-height: 5px;
    color: white;
    text-align: center;
}

.linkToGal {
    font: 1em "Russo One", sans-serif;
    color: white;
    text-align: center;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover, a:active {
    color: #263555;
}

.menuMob li a:hover, a:active {
    color: #263555;
}

div.linkToGal a:hover, a:active {
    color: #263555;
}

.menu a:link, a:visited {
    text-decoration: none;
    color: white;
}

.menuMob a:link, a:visited {
    text-decoration: none;
    color: white;
}

.linkToGal a:link, a:visited {
    text-decoration: none;
    color: white;
}

ul > li.logo {
    position: relative;
    top: 16px;
    width: 167px;
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 40px 0 20px;
    cursor: pointer;
}

.menuMob li.logo {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 auto 35px auto;
    cursor: pointer;
}

.menu a {
    vertical-align: middle;
}

.menu img {
    position: absolute;
    top: -80%;
    left: -20%;
}

.centralBody {
    background-color: #ffffff;
    position: relative;
    top: 130px;
    margin: 0 auto;
    width: 94%;
    max-height: 82%;
    z-index: 4;
    font: 1em Arial, sans-serif;
    line-height: 30px;
}

h1 {
    text-align: center;
    font: bold 2em Lobster, cursive;
}

h2 {
    text-align: center;
    font: 1.5em "Russo One", sans-serif;
    color: #263555;
    border-top: 1px solid #263555;
    border-bottom: 1px solid #263555;
}

p {
    margin-left: 16px;
    text-indent: 1em;
}

.alignCent {
    text-align: center;
    margin-bottom: 1%;
}

span {
    font-weight: bold;
}

.goUpBut {
    width: 36px;
    height: 37px;
    display: inline-block;
    position: relative;
    left: 95%;
}

.footerLine {
    width: 100%;
    height: 50px;
    background-color: #30455b;
    position: relative;
    margin-top: 32px;
}

.copy {
    font: 11px Arial, Helvetica, sans-serif;
    color: whitesmoke;
    opacity: .9;
    text-shadow: 2px 2px 3px black;
    margin-top: 5px;
    margin-left: 5px;
}

.footCell{
    height: 3px;
}

.socWeb {
    list-style: none;
    width: 150px;
    padding-left: 0;
    height: 27px;
    margin: 0 auto;
}

.socWeb li {
    float: left;
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 3px;
    background: url("../images/socWebSprite.png") no-repeat;
    cursor: pointer;
}

.socWeb li:nth-child(2) {
    background-position: -29px 0;
}

.socWeb li:nth-child(3) {
    background-position: -58px -0px;
}

.socWeb li:nth-child(4) {
    background-position: -87px -0px;
}

.socWeb li:nth-child(5) {
    background-position: -116px -0px;
}

.socWeb li:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 1300px) {

    .wrap {
        background: cornflowerblue none;
        height: 100%;
    }

    .centralBody {
        height: 100%;
        width: 100%;
    }

    .goUpBut {
        top: 100%;
        left: 5%;
    }
}

@media only screen and (max-width: 640px) {

    .menu {
        display: none;
    }

    .linkToGal {
        display: none;
    }

    .menuMob {
        display: block;
    }

    h1 {
        display: none;
    }

}

@media only screen and (max-width: 510px) {

    .copy {
        text-align: center;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1370px) {

    .centralBody {
        width: 1269px;
    }

    .wrap {
        margin: 0 auto;
    }

}

@media only screen and (min-width: 2630px) {

    .menu{
        display: none;

    }

    .menuMob{
        display: block;
    }

    .linkToGal {
        display: none;
    }

}

@media only screen and (min-width: 2750px) {
    .wrap {
        height: 3100px;
    }
}

@media only screen and (min-width: 6500px) {

    .wrap {
        height: 3250px;
    }

}