body {
    margin: 0;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/forLogo.ttf);
}

@font-face {
    font-family: "Russo One";
    src: url(../fonts/russoOne.ttf);
}

.wrap {
    width: 100%;
    height: 2299px;
    background: url(../images/BGWrap.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    width: 590px;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 50px 0;
}

.menuMob {
    width: 100%;
    height: 140px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: none;
}

.menu li {
    float: left;
    display: block;
    margin-right: 20px;
    font: 1em "Russo One", sans-serif;
    height: 84px;
    line-height: 84px;
    color: white;
}

.menuMob li {
    margin-right: 0;
    font: 1em "Russo One", sans-serif;
    height: 35px;
    line-height: 5px;
    color: white;
    text-align: center;
}

.linkToGal {
    font: 1em "Russo One", sans-serif;
    color: white;
    text-align: center;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover, a:active {
    color: #263555;
}

.menuMob li a:hover, a:active {
    color: #263555;
}

div.linkToGal a:hover, a:active {
    color: #263555;
}

.menu a:link, a:visited {
    text-decoration: none;
    color: white;
}

.menuMob a:link, a:visited {
    text-decoration: none;
    color: white;
}

.linkToGal a:link, a:visited {
    text-decoration: none;
    color: white;
}

ul > li.logo {
    position: relative;
    top: 16px;
    width: 167px;
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 40px 0 20px;
    cursor: pointer;
}

.menuMob li.logo {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: bold 2em Lobster, cursive;
    height: 84px;
    line-height: 84px;
    color: #263555;
    margin: 0 auto 35px auto;
    cursor: pointer;
}

.menu a {
    vertical-align: middle;
}

.menu img {
    position: absolute;
    top: -80%;
    left: -20%;
}

.menu2 {
    background-color: #30455b;
    color: #272727;
    border-bottom: 1px solid #d7d7d7;
    height: 23px;
    width: 100%;
    font: 1em "Russo One", sans-serif;
}

.menu2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu2 li {
    display: inline;
    line-height: 23px;
}

.menu2 li a {
    color: #ffffff;
    text-decoration: none;
    padding: 4px 5px 6px 5px;
}

.menu2 li a.tabactive {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    background-color: #263555;;
    font-weight: normal;
    position: relative;
}

#tabcontent1, #tabcontent2, #tabcontent3, #tabcontent4 {
    width: 100%;
    height: 94%;
    text-align: center;
    padding: 0 0;
    font-size: 12px;
    margin-bottom: 5px;
}

#tabcontent1 img:nth-child(1) {
    position: absolute;
    left: 160px;
    top: 130px;
}

#tabcontent1 img:nth-child(2) {
    position: absolute;
    left: 200px;
    top: 280px;
}

#tabcontent2 img:nth-child(1) {
    position: absolute;
    left: 160px;
    top: 130px;
}

#tabcontent2 img:nth-child(2) {
    position: absolute;
    left: 200px;
    top: 280px;
}

#tabcontent2 .margBott {
    margin-bottom: 200px;
}

#tabcontent3 img:nth-child(1) {
    position: absolute;
    left: 190px;
    top: 130px;
}

#tabcontent3 img:nth-child(2) {
    position: absolute;
    left: 190px;
    top: 280px;
}

#tabcontent3 .margBott {
    margin-bottom: 100px;
}

#tabcontent4 img:nth-child(1) {
    position: absolute;
    left: 150px;
    top: 130px;
}

#tabcontent4 img:nth-child(2) {
    position: absolute;
    left: 190px;
    top: 280px;
}

#tabcontent4 .margBott {
    margin-bottom: 130px;
}

#tabcontent1 h1, #tabcontent2 h1, #tabcontent3 h1, #tabcontent4 h1 {
    font: 2em "Russo One", sans-serif;
}

#tabcontent1 h2, h3, #tabcontent2 h2, h3, #tabcontent3 h2, h3, #tabcontent4 h2, h3 {
    text-align: center;
    font: 1.5em "Russo One", sans-serif;
    color: #263555;
    border-top: 1px solid #263555;
    border-bottom: 1px solid #263555;
}

#tabcontent1 p, #tabcontent2 p, #tabcontent3 p, #tabcontent4 p {
    font: 1.5em Arial, sans-serif;
    line-height: 40px;
    text-align: left;
    margin: 30px 16px 30px 16px;
}

#tabcontent1 p:last-child,
#tabcontent2 p:last-child,
#tabcontent3 p:last-child,
#tabcontent4 p:last-child {
    text-align: center;
}

.pricing-table {
    position: absolute;
    left: 950px;
    top: 23px;
    text-align: center;
    width: 232px;
    zoom: 1;
}

.pricing-table:before, .pricing-table:after {
    content: "";
    display: table
}

.pricing-table:after {
    clear: both;
}

.pricing-table .plan {
    font: 13px "Lucida Sans", "trebuchet MS", Arial, Helvetica;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 180px;
    float: left;
    _display: inline;
    position: relative;
    margin: 0 5px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .3);
}

.pricing-table .plan:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    right: 4px;
    width: 80%;
    top: 80%;
    box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
    transform: rotate(3deg);
}

.pricing-table .header {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background: url(../images/flags/italy.png) repeat-y;
    color: #263555;
}

.pricing-table .header2 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background: url(../images/flags/USA.png) repeat-y;
    color: #263555;
}

.pricing-table .header3 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background: url(../images/flags/france.png) repeat-y;
    color: #263555;
}

.pricing-table .header4 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background: url(../images/flags/spain.png) repeat-y;
    color: #263555;
}

.pricing-table .header:after {
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    width: 100%;
    content: '';
}

.pricing-table .checkout .header {
    border-bottom-color: #263555;
}

.pricing-table .price {
    font-size: 45px;
}

.pricing-table .term {
    font-size: 13px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #999;
}

.pricing-table ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.pricing-table li {
    padding: 10px 0;
}

.pricing-table .signup {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #72ce3f;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
    opacity: .9;
}

.pricing-table .signup:hover {
    opacity: 1;
}

.pricing-table .signup:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3) inset;
}

.pricing-table .checkout .signup {
    background: #263555;
}

.centralBody {
    background-color: #ffffff;
    position: relative;
    top: 130px;
    margin: 0 auto;
    width: 94%;
    max-height: 81%;
    z-index: 4;
}

.goUpBut {
    width: 36px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: 95%;
    left: 96%;
}

.footerLine {
    width: 100%;
    height: 50px;
    background-color: #30455b;
    position: relative;
    margin-top: 0;
}

.copy {
    font: 11px Arial, Helvetica, sans-serif;
    color: whitesmoke;
    opacity: .9;
    text-shadow: 2px 2px 3px black;
    margin-top: 5px;
    margin-left: 5px;
}

.footCell{
    height: 3px;
}

.socWeb {
    list-style: none;
    width: 150px;
    padding-left: 0;
    height: 27px;
    margin: 0 auto;
}

.socWeb li {
    float: left;
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 3px;
    background: url(../images/socWebSprite.png) no-repeat;
    cursor: pointer;
}

.socWeb li:nth-child(2) {
    background-position: -29px 0;
}

.socWeb li:nth-child(3) {
    background-position: -58px -0px;
}

.socWeb li:nth-child(4) {
    background-position: -87px -0px;
}

.socWeb li:nth-child(5) {
    background-position: -116px -0px;
}

.socWeb li:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 1320px) {

    .wrap {
        background: cornflowerblue none;
        height: 100%;
    }

    .centralBody {
        height: 100%;
        width: 100%;
    }

    .goUpBut {
        top: 95%;
        left: 85%;
        z-index: 100;
    }

    h1 {
        margin-bottom: 20px;
    }

    #tabcontent1 img {

        margin: 0;
    }

}

@media only screen and (max-width: 1270px) {

    #tabcontent1 img {
        display: none;
    }

    #tabcontent2 img {
        display: none;
    }

    #tabcontent3 img {
        display: none;
    }

    #tabcontent4 img {
        display: none;
    }

    #tabcontent {
        float: left;
    }

    .pricing-table {
        position: static;
        margin: 0 auto;
    }

}


@media only screen and (max-width: 640px) {

    .menu {
        display: none;
    }

    .linkToGal {
        display: none;
    }

    .menuMob {
        display: block;
    }

}

@media only screen and (max-width: 755px) {

    .goUpBut {
        top: 98%;
        left: 85%;
    }

}

@media only screen and (max-width: 510px) {

    .copy {
        text-align: center;
        margin-left: 0;
    }
}

@media only screen and (max-width: 320px) {

    .menu2 {
        font: 12px "Russo One", sans-serif;
    }
}

@media only screen and (min-width: 1370px) {

    .centralBody {
        width: 1269px;
    }

    .wrap {
        margin: 0 auto;
    }

}

@media only screen and (min-width: 1500px) {


    .wrap {
        height: 2300px;
    }

}

@media only screen and (min-width: 2630px) {

    .menu{
        display: none;

    }

    .menuMob{
        display: block;
    }

    .linkToGal {
        display: none;
    }

}

@media only screen and (min-width: 2750px) {
    .wrap {
        height: 3100px;
    }
}

@media only screen and (min-width: 6500px) {

    .wrap {
        height: 3250px;
    }

}